@import "../../_globalColor";

.dev-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  column-gap: 24px;
  row-gap: 24px;
  padding-left: 0;
  list-style: none;
  font-size: 2.75rem;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 560px;
}

.software-skill-inline {
  display: inline-block;
  text-align: center;
}

.software-skill-inline > i,
.software-skill-inline > svg {
  width: 1em;
  height: 1em;
  color: $subTitle;
  fill: currentColor;
}

.software-skill-inline:hover > i,
.software-skill-inline:hover > svg {
  color: $skillsColor;
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}
.software-skill-inline:hover > p {
  color: $skillsColor;
}

@media (max-width: 768px) {
  .dev-icons {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 18px;
    font-size: 1.8rem;
    max-width: 340px;
  }
}
